<main>
    <div class="my-5 text-center my-3">
        <h5 class="display-6 fw-bold  mt-3 mb-3 animate__animated animate__bounceInLeft ">Hello !</h5>
        <div class="display-5 fw-bold  mt-3 mb-3">
            <span class="animate__animated animate__bounceInLeft animate__delay-1s">I'm <span
                    class="text-green">Sirine</span></span>
            <span class="animate__animated animate__bounceInRight animate__delay-2s">and I'm <span
                    class="text-green">VEGETARIAN</span></span>
        </div>
        <div class="col-lg-10 mx-auto animate__animated animate__fadeIn animate__delay-3s" style="text-align: justify">
            <p class="lead mb-4">
                People choose to become vegetarians for a variety of reasons and everyone's journey is different. Many
                people choose to cut meat for a variety of reasons, including environmental,
                health, and ethical ones, such as advocating for animal welfare. Whatever the reason, it's a good one,
                because it's the
                same reason I became a vegetarian.
            </p>
            <p class="lead mb-4">
                My transition took longer than most, but now that I've been a vegetarian for nine years, I can’t see
                myself turning back. I've
                eliminated meat from my diet, including fish, and I'm feeling fantastic. My family has come to terms
                with this, despite
                the fact that it was initially difficult for them to comprehend.
            </p>
            <p class="lead mb-4">
                My major problems started when I went to a restaurant with friends or coworkers and couldn't find
                anything other than
                pasta or pizza to order. The entire menu is based on a single meal. As a result, I've made the decision
                to cook for
                myself. Let me share with you my best recipes!
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/recipes">
                    <button type="button" class="btn btn-green btn-lg px-4 gap-3">Discover Recipes</button>
                </a>
            </div>
        </div>
    </div>
</main>